.Cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100vh;
  z-index: 100;
  background-color: lightgray;
  padding: 20px;
}

.Cart-container {
  display: flex;
  flex-direction: column;
}

.Cart-btn {
  position: absolute;
  right: 0;
}
