.Navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: #cdcdcd;
}

.Navigation img {
  height: 70%;
  border-radius: 10px;
}

.Navigation input {
  border-radius: 20px;
  height: 20px;
  border: 0.5px solid #cdcdcd;
  padding: 3px 5px;
}

.Navigation_cart-quantity {
  color: #fff;
  border-radius: 50%;
  background-color: rgb(185, 87, 87);
  position: relative;
  right: -50%;
  top: -15px;
}

.Navigation-bag {
  cursor: pointer;
}
